<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de contacto</title>
</head>
<body>
    <h1>Contactenos</h1>
    <form action="/contac/" method="POST"> {% csrf-token %}
        <p>Asunto: <input type="text" name="subject"></p>
        <p>Email: <input type="text" name="email"></p>
        <p>
            Mensaje:
            <textarea name="message" cols="30" rows="5" style="resize: none;"></textarea>
        </p>
        <input type="submit" value="Enviar">
    </form>
</body>
</html>